body {
    background-color: #f0f2f5;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .App {
    text-align: center;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
  }
  
  .login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    margin-bottom: 15px;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  label {
    display: block;
    color: #555;
    margin-bottom: 8px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:disabled {
    background-color: #7baaf7;
  }
  
  button:hover:not(:disabled) {
    background-color: #0056b3;
  }
  
  .register-button {
    background-color: #28a745;
    margin-top: 10px;
  }
  
  .register-button:hover {
    background-color: #218838;
  }
  
  